VITE_FIREBASE_API_KEY=AIzaSyDh8cRrUocIBIGPtNOqDHoR5Iw4rZ3k7H4
VITE_FIREBASE_AUTH_DOMAIN=daks-38a22.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=daks-38a22
VITE_FIREBASE_STORAGE_BUCKET=daks-38a22.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=207609703957
VITE_FIREBASE_APP_ID=1:207609703957:web:20144c21fde68cead1681c
